.DS_Store
node_modules

# Windows/WSL metadata
*:Zone.Identifier
/dist
/coverage

/tests/e2e/videos/
/tests/e2e/screenshots/

# Cypress artifacts
/cypress/

.firebase/*.cache

/tmp

# local env files
.env
.env.*
!.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dev-dist/
